
:root {
  --navbar-height: 95px; 
}

#logo{
  font-family: sans-serif;
  font-size: large;
  font-weight: bold;
  color:#fbfbf8ea;
  border-radius: 50%;
}

/*navbar*/
.navbar {
  background: linear-gradient(90deg, #020344, #28B8D5);
  transition: opacity 0.5s ease;
  backdrop-filter: blur(8px);
}

.nav-item a{
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
    color: #fafafc;
}

.nav-item a:hover{
    color: #d9dace;
}

.navbar.faded {
  opacity: 0;
  pointer-events: none; 
}

.search-icon{
  cursor: pointer;
}

.modal-header{
  background-color: #0e6ba8;
  color: white;
  font-family: sans-serif;
  text-shadow: 3px 5px 8px gray;
}


.modal-body{
  background-color: rgba(175, 185, 196, 0.54);
}

/*Contact*/
.contact-title{
  color: #fbdf05;
  font-family: sans-serif;
  font-weight: 700;
  text-shadow: 3px 5px 8px  #030200;
}

.contact-para{
  color: #0a2668;
  font-family: sans-serif;
  font-weight: 700;
}


/*flights menu*/

.offcanvas-body{
  background-color: rgb(255, 255, 255);
  margin: 0 20px 20px 20px;
  border-radius: 10px;
  overflow-y: hidden !important;  
  box-shadow: 3px 5px 8px rgba(65, 58, 158, 0.52);
}


.dropdown-menu li a{
  color: rgb(255, 255, 255);
  font-family:'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: 700;
}

.dropdown-menu li a:hover{
  background-color: #f4f269;
  color: rgb(9, 47, 129);
  
}

.dropdown-menu-scrollable{
 max-height:500px;
 overflow-y: auto;
}



/*Services menu*/

.serv-img{
  
  height: 550px;
  object-fit: initial;
  filter:brightness(0.9);
  border-radius: 10px;
  box-shadow: 5px 8px 10px rgb(17, 72, 154);
}

.serv-para{
  font-family: sans-serif;
  font-weight: 600;
  color:white;
  background-color:#7a5980;
  border-radius: 10px;
  text-shadow: 5px 8px 5px rgb(90, 90, 97);
  box-shadow: 8px 8px 10px rgb(255, 255, 255);
  height: 450px;
}

.services-title{
  color: rgba(21, 44, 116, 0.986);
  text-align: center;
  padding: 0;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
}

.hotel-list-title,.travel-packages-list-title{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  color:#cf9893;
  text-align: center;
  text-shadow: 5px 8px 10px rgb(69, 64, 64);
}


.hotels-list li a{
  color: #d1be9c;
  font-family:'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: 600;
  margin: 10px;
}

.hotels-list li a:hover{
  color:#eef0f2;
  font-size: large;
  font-weight: 400;
  margin: 0;
}

.travel-packages-list li a{
  color:#d1be9c;
  font-family:'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: 600;
  margin: 10px;
}

.travel-packages-list li a:hover{
  color:#eef0f2;
  font-size: large;
  font-weight: 400;
}

.offcanvas-services-img{
  object-fit: fill;
  height: 95%;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 3px 5px 8px rgba(65, 58, 158, 0.461);
}

/*Remove Bootstrap height limits */
.offcanvas-custom {
  max-height: none !important;
}

/*Position offcanvas exactly under navbar */
.offcanvas-custom {
  top: var(--navbar-height) !important;
  height: calc(80vh - var(--navbar-height)) !important;
  border-radius: 0;
  background: rgb(146, 143, 143);
  backdrop-filter: blur(14px); 
  -webkit-backdrop-filter: blur(14px);

  /*custom offcanvas animation */
  transform: translateY(-30px);
  opacity: 0;
}

/* Slide + fade on open */
.offcanvas-custom.show {
  transform: translateY(0);
  opacity: 1;
}

.contact-img{
  height: 300px;
  width: 100%;
}


/*caroussel*/
.c-item{
  height: 560px;
}

.c-img{
  height: 100%;
  object-fit: cover;
  filter:brightness(0.9);
}


/*Overview section*/
.overview{
  height: 150px;
  background: linear-gradient(90deg, #727A9A, #D8DBE9);
  box-shadow: 25px 15px 25px rgb(249, 247, 247);
}

/*Cards*/
.card-img-top {
  height: 180px;       
  object-fit: initial;
}

.custom-card{
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}

.custom-card:hover{
  box-shadow:  5px 8px 12px rgba(237, 238, 240, 0.49);
  cursor: pointer;
   transform: scale(1.02);
   z-index: 10;
}
/*Best destinations*/

#best_destinations{
 background: linear-gradient(90deg, #3E196E, #D46C76, #FFC07C);
 box-shadow: 25px 15px 25px rgb(249, 247, 247);

}

.best-title{
  color:white;
  font-family: sans-serif;
  font-weight: 600;
  text-shadow: 2px 3px 5px  #0c0c0c;
}

/*Destinations*/

#destinations{
  background: linear-gradient(90deg, #843458, #6D6C83, #3B7F99);
  box-shadow: 25px 15px 25px rgb(249, 247, 247);

}

.dest-title{
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  text-shadow: 2px 3px 5px  #0c0c0c;
}

.dest-para{
  color: white;
  font-family: serif;
  font-size: 1rem;
  text-shadow: 2px 3px 5px  rgb(5, 5, 5);

}

/*FAQ*/


 #faq{
  background: linear-gradient(90deg,#e65763, #EB8A3D);
  box-shadow: 25px 15px 25px rgb(249, 247, 247);

 }

 .faq-title{
 color:#faf8f8;
  font-family: sans-serif;
  font-weight: 600;
  text-shadow: 2px 3px 5px #3d2121;
 }

 .accordion-body {
  background-color: #5e3023; 
  color: #ebdbd9;
}

.accordion-button:not(.collapse) {
  background-color: #7d4f50; 
  color: #f1efef; /* Adjust text color if needed */
}

 .home-icon{
  color:white;
  text-shadow: 2px 3px 5px #121212;
 }

 .home-icon:hover{
  color:#3d2121;
  text-shadow: 2px 3px 5px #121212;
 }

.footer{
  background: linear-gradient(90deg, #020344, #28B8D5);
  box-shadow: 25px 15px 25px rgb(249, 247, 247);
}