
:root {
  --navbar-height: 95px; 
}

.logo{
  border-radius: 50%;
}

/*navbar*/
.navbar {
  transition: opacity 0.5s ease;
  backdrop-filter: blur(8px);
}

.navbar.faded {
  opacity: 0;
  pointer-events: none; 
}

.modal-header{
  background-color: rgba(30, 30, 116, 0.56);
  color: white;
}

.modal-body{
  background-color: rgba(175, 185, 196, 0.54);
}



/*flights menu*/

.offcanvas-body{
  background-color: rgb(255, 255, 255);
  margin: 0 20px 20px 20px;
  border-radius: 10px;
  overflow-y: hidden !important;  
  box-shadow: 3px 5px 8px rgba(65, 58, 158, 0.52);
}


.dropdown-menu li a{
  color: rgb(255, 255, 255);
  font-family:'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: 700;
}

.dropdown-menu li a:hover{
  background-color: orangered;
  color: white;
  
}

.dropdown-menu-scrollable{
 max-height:500px;
 overflow-y: auto;
}



/*Services menu*/

.services-title{
  color: rgba(21, 44, 116, 0.986);
  text-align: center;
  padding: 0;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
}

.hotel-list-title,.travel-packages-list-title{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  color: rgba(21, 44, 116, 0.986);
  text-align: left;
  text-shadow: 2px 3px 8px rgb(38, 38, 106);
   margin-left: 50px;
}


.hotels-list li a{
  color: rgba(21, 44, 116, 0.986);
  font-family:'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: 600;
  margin-left: 50px;
}

.hotels-list li a:hover{
  color:darkblue;
  border-bottom: 2px ridge  rgba(6, 33, 114, 0.986);
}

.travel-packages-list li a{
  color: rgba(21, 44, 116, 0.986);
  font-family:'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: 600;
  margin-left: 50px;
}

.travel-packages-list li a:hover{
  color: rgba(6, 33, 114, 0.986);
  border-bottom: 2px ridge  rgba(6, 33, 114, 0.986);
}

.offcanvas-services-img{
  object-fit: fill;
  height: 95%;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 3px 5px 8px rgba(65, 58, 158, 0.461);
}

/*Remove Bootstrap height limits */
.offcanvas-custom {
  max-height: none !important;
}

/*Position offcanvas exactly under navbar */
.offcanvas-custom {
  top: var(--navbar-height) !important;
  height: calc(80vh - var(--navbar-height)) !important;
  border-radius: 0;
  background: rgb(146, 143, 143);
  backdrop-filter: blur(14px); 
  -webkit-backdrop-filter: blur(14px);

  /*custom offcanvas animation */
  transform: translateY(-30px);
  opacity: 0;
}

/* Slide + fade on open */
.offcanvas-custom.show {
  transform: translateY(0);
  opacity: 1;
}

.contact-img{
  height: 300px;
  width: 100%;
}


/*caroussel*/
.c-item{
  height: 560px;
}

.c-img{
  height: 100%;
  object-fit: cover;
  filter:brightness(0.9);
}

/*Overview section*/
.overview{
  height: 150px;
  background-color: #c5d3f5;
  box-shadow:5px 8px 10px rgb(154, 154, 196);
}

/*Cards*/
.card-img-top {
  height: 200px;       
  object-fit: initial;
}

.custom-card{
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}

.custom-card:hover{
  box-shadow:  0.5rem 1rem 1.5rem rgba(21, 32, 118, 0.49);
  cursor: pointer;
   transform: scale(1.02);
   z-index: 10;
}
/*Best destinations*/

#best_destinations{
  background-color: rgba(30, 30, 116, 0.56);
  box-shadow: 5px 8px 10px rgb(154, 154, 196);

}

.best-title{
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: 600;
  text-shadow: 2px 3px 5px rgb(12, 30, 111);
}

/*Destinations*/

#destinations{
  background-color: rgba(30, 30, 116, 0.56);
   box-shadow: 5px 8px 10px rgb(154, 154, 196);
}

.dest-title{
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: 600;
  text-shadow: 2px 3px 5px rgb(12, 30, 111);
}

.dest-para{
   color: rgb(249, 249, 250);
  font-family: serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 2px 3px 5px rgb(121, 122, 125);

}

/*FAQ*/


 #faq{
  background-color: rgba(30, 30, 116, 0.56);
 }

 .faq-title{
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: 600;
  text-shadow: 2px 3px 5px rgb(12, 30, 111);
 }

