
:root {
  --navbar-height: 95px; 
}

.logo{
  border-radius: 50%;
}

/*navbar*/
.navbar {
  transition: opacity 0.5s ease;
  backdrop-filter: blur(8px);
}

.navbar.faded {
  opacity: 0;
  pointer-events: none; 
}



/*flights menu*/

.flights-title{
  color: rgba(21, 44, 116, 0.986);
  text-align: center;
  margin-left: -20px;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 2px 3px 8px rgb(18, 18, 96);
}

.offcanvas-2-custom{
  border-radius: 0;
  backdrop-filter: blur(14px); 
  -webkit-backdrop-filter: blur(14px);
}

.offcanvas-body{
  background-color: rgb(255, 255, 255);
  margin: 0 20px 20px 20px;
  border-radius: 10px;
  overflow-y: hidden !important;  
  box-shadow: 3px 5px 8px rgba(65, 58, 158, 0.52);
}

.offcanvas-flight-img{
  object-fit: initial;
  height: 25%;
  width: 100%;
  margin-left: 30px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 3px 5px 8px rgba(65, 58, 158, 0.471);
}

.flights-list-1 {
  border-right: 2px solid rgb(64, 58, 158);
}



.flights-list li a{
  color: rgba(21, 44, 116, 0.986);
  font-family:'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: 600;
}

.flights-list li a:hover{
  color:darkblue;
  border-bottom: 2px ridge  rgba(6, 33, 114, 0.986);
}



/*Services menu*/

.services-title{
  color: rgba(21, 44, 116, 0.986);
  text-align: center;
  padding: 0;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
}

.hotel-list-title,.travel-packages-list-title{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  color: rgba(21, 44, 116, 0.986);
  text-align: left;
  text-shadow: 2px 3px 8px rgb(38, 38, 106);
   margin-left: 50px;
}


.hotels-list li a{
  color: rgba(21, 44, 116, 0.986);
  font-family:'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: 600;
  margin-left: 50px;
}

.hotels-list li a:hover{
  color:darkblue;
  border-bottom: 2px ridge  rgba(6, 33, 114, 0.986);
}

.travel-packages-list li a{
  color: rgba(21, 44, 116, 0.986);
  font-family:'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: 600;
  margin-left: 50px;
}

.travel-packages-list li a:hover{
  color: rgba(6, 33, 114, 0.986);
  border-bottom: 2px ridge  rgba(6, 33, 114, 0.986);
}

.offcanvas-services-img{
  object-fit: fill;
  height: 95%;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 3px 5px 8px rgba(65, 58, 158, 0.461);
}

/*Remove Bootstrap height limits */
.offcanvas-custom {
  max-height: none !important;
}

/*Position offcanvas exactly under navbar */
.offcanvas-custom {
  top: var(--navbar-height) !important;
  height: calc(80vh - var(--navbar-height)) !important;
  border-radius: 0;
  background: rgb(146, 143, 143);
  backdrop-filter: blur(14px); 
  -webkit-backdrop-filter: blur(14px);

  /*custom offcanvas animation */
  transform: translateY(-30px);
  opacity: 0;
}

/* Slide + fade on open */
.offcanvas-custom.show {
  transform: translateY(0);
  opacity: 1;
}

.contact-img{
  height: 300px;
  width: 100%;
}


/*caroussel*/
.c-item{
  height: 560px;
}

.c-img{
  height: 100%;
  object-fit: cover;
  filter:brightness(0.9);
}

/*Overview section*/
.overview{
  height: 150px;
  background-color: #c5d3f5;
}

/*Cards*/
.card-img-top {
  height: 200px;       
  object-fit: initial;
}

.custom-card{
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}

.custom-card:hover{
  box-shadow:  0.5rem 1rem 1.5rem rgba(21, 32, 118, 0.49);
  cursor: pointer;
   transform: scale(1.02);
   z-index: 10;
}


